
.main-container {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 100vh;
}


.main-body{
    background-color: #1D1E1D;
    border-style: solid;
    border-color: #F2C305;
}

.header{
    border-style: solid;
    border-color: #F2C305;
    background-color: #B23327;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#pokeball1 {
    margin-left: 1.5rem;
}

#pokeball2 {
    margin-right: 1.6rem;
}

#title {
    font-size: 260%;
    font-family: 'Press Start 2P', cursive;;
}

.avatar2 {
  display:grid;
  grid-template-columns: 50% 50%;
  grid-gap: 3px;
  justify-items: center;
  align-items: center;

}
.cataloguebtn {
  font-family: 'Press Start 2P', cursive;;
  cursor: pointer;
}


.avatar3 {
  display:grid;
  grid-template-columns:50% 50%;
  grid-gap: 3px;
  justify-items: center;
  align-items: center;

}
.logout {
  font-family: 'Press Start 2P', cursive;;
  cursor: pointer;
}



.main-body{
  background-color: #1D1E1D;
  border-style: solid;
  border-color: #F2C305;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

}

.main-body::-webkit-scrollbar {
  display: none;
}

.header{
  border-style: solid;
  border-color: #F2C305;
  background-color: #B23327;
  display:flex;
  justify-content: space-between;
}

#pokeball1 {
  margin-left: 1.5rem;
}

/* #pokeball2 {
    margin-left: 10rem;
} */

.avatar {
  display:grid;
  grid-template-columns: 20% 80%;
  grid-gap: 3px;
  justify-items: center;
  align-items: center;

}
.name{
  font-family: 'Press Start 2P', cursive;;
  grid-row: 1;
  cursor: pointer;
}

#catalogue-logo {
  margin-left: 1rem;

}

.pokecard{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background-color: #B23327;
  width: 50%;
  border-style: solid;
  border-color:#F2C305;
  margin:auto;
  margin-top: 3rem;
  height:15rem;
  display: grid;
  grid-template-rows: 70% 30%;
  /* cursor: pointer; */
}

.img {
  margin:auto;
}

.pokeHeader{
  font-family: 'Press Start 2P', cursive;
  font-size: xx-large;
}
