<div class="main-container">

  <div class="header">
    <div class="avatar2">
    <img id="pokeball1" width="120px" src="./../../../../assets/svg/pokeball.svg" alt="asdad">
    <p (click)="backToCatalogue()" class="cataloguebtn"> Catalogue </p>
  </div>
    <p class="pokeHeader">{{trainerName}}</p>
    <div class="avatar3">
      <p (click)="logOut()" class="logout"> Log out </p>
      <img id="pokeball2" width="120px" src="./../../../../assets/svg/pokeball.svg" alt="asdad">
    </div>
  </div>

  <div class="main-body">
    <!-- <ul> -->
    <div class="pokecard" *ngFor="let pokem of ownPokemon ">
      <div class ="img">
        <img width="150px" [src]="pokem.image" [alt]="pokem.name"/>
      </div>
      {{pokem.name}}

    </div>
  </div>

