
.main-container {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 100vh;
}


.main-body{
    background-color: #1D1E1D;
    border-style: solid;
    border-color: #F2C305;
    display:grid;
    grid-template-rows: 85% 15%;
}

.header{
    border-style: solid;
    border-color: #F2C305;
    background-color: #B23327;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#pokeball1 {
    margin-left: 1.5rem;
}

#pokeball2 {
    margin-right: 1.6rem;
}

#title {
    font-size: 260%;
    font-family: 'Press Start 2P', cursive;;
}

.main-content {
    display:grid;
    grid-template-columns: 60% 40%;
    /* align-items: center; */
    
}

.stats {
    font-size: 13px;
    font-family: 'Press Start 2P', cursive;;
    background-color:#B23327;
    width:70%;
    height: 80%;
    margin:auto;
    border-style: solid;
    border-color: #F2C305;
    border-radius: 10px;
    padding:10px;
    
}

.stats-title {
    text-align: center;
    font-size: large;
}

.profile-stats {
    font-size: 13px;
    display:grid; 
    grid-template-columns: 30% 70%;
}

.data{
    text-align: end;
}

.profile-stats2 {
    margin-top: 3rem;
    display:grid; 
    grid-template-columns: 30% 70%;
}

.moves {
    margin-top: 4rem;
}

.collect-img{
    margin-top: 3rem;
    display:grid; 
    grid-template-rows: 80% 20%;
}

.footer {
    display:grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
}

#backto {
    margin:auto;
    cursor: pointer;
}

#collect{
    cursor: pointer;
}

#collect:hover{
    cursor: pointer;
}


.abilities {
    display:flex;
    justify-content: flex-end;
    
}

.types {
    display:flex;
    justify-content: flex-end;
}

.moves2 {
    display:grid;
    grid-template-columns: 33% 33% 33%;
}