<div class="main-container">

    <div class="header">
        <img id="pokeball1" width="120px" src="./../../../../assets/svg/pokeball.svg" alt="asdad">
        <h1 id="title">{{chosenPokeMon}}</h1>
        <img id="pokeball2" width="120px" src="./../../../../assets/svg/pokeball.svg" alt="asdad">
    </div>
    <div class="main-body">
        <div class="main-content">
          <!--<ng-container *ngIf="pokemon">
            {{pokemon.name }}
            {{pokemon.height}}
            {{pokemon.weight}}
            {{pokemon.base_experience}}
            blaze, solar-power
            {{pokemon.moves[0].move.name}}
            {{pokemon.stats[0].stat.name}}
            {{pokemon.types[0].type.name}}
          </ng-container>-->
            <div class="stats">
                <p class="stats-title">{{chosenPokeMon}}</p>
            <div class="profile-stats">
                <div class="naming">
                    <p>HEIGHT:</p>
                    <p>WEIGHT:</p>
                    <p>BASE EXP: </p>
                    <p>ABILITIES: </p>
                </div>
                <div class="data">
                    <p>{{pokemon.height}}</p>
                    <p>{{pokemon.weight}}</p>
                    <p>{{pokemon.base_experience}}</p>
                    <div class="abilities">
                    <p *ngFor="let ability of pokemon.abilities | slice:0:3">{{ability.ability.name}}, </p>
                    </div>
                </div>

            </div>

            <div class="profile-stats2">
                <div class="naming">
                    <p>BASE STATS:</p>
                    <p>TYPES:</p>
                </div>
                <div class="data">
                    <p> {{pokemon.stats[0].stat.name}}({{pokemon.stats[0].base_stat}}), {{pokemon.stats[1].stat.name}}({{pokemon.stats[1].base_stat}}), {{pokemon.stats[2].stat.name}}({{pokemon.stats[2].base_stat}}) </p>
                    <div class="types">
                        <p *ngFor="let type of pokemon.types | slice:0:3">{{type.type.name}}, </p>
                    </div>
                </div>

            </div>

            <div class="moves">

                <p>MOVES:</p>
                <div class="moves2">
                 <p *ngFor="let move of pokemon.moves | slice:0:8">{{move.move.name}} </p>
                </div>

            </div>

            </div>

            <div class="collect-img">
                <div class="img">
                    <img id="charizard" width="400px" [src]="chosenPokeMonImage" alt="asdad">
                </div>

                <div class="collect">
                    <img (click)="collect()" id="collect" width="400px" src="./../../../../assets/svg/collect.svg" alt="asdad">
                </div>
            </div>
        </div>

        <div class="footer">

            <img id="backto" (click)="btnClick()"  width="400px" src="./../../../../assets/svg/backto.svg" alt="asdad">

        </div>
    </div>

</div>
