<div class="main-container">

    <div class="header">
        <img id="pokeball1" width="120px" src="./../../../../assets/svg/pokeball.svg" alt="asdad">
        <img id="catalogue-logo" width="400px" src="./../../../../assets/svg/catalogue.svg" alt="asdad">
        <div class="avatar">
           <img id="pokeball2" width="120px" src="./../../../../assets/svg/pokeball.svg" alt="asdad">
           <p (click)="btnClick()" class="name">{{trainerName}}</p>

        </div>

    </div>
    <div class="main-body">
        <!-- <ul> -->
          <div class="pokecard" (click)="choosePokemon(poke.name,poke.image,poke.weight)" *ngFor="let poke of pokemon ">
            <div class ="img">
              <img width="150px" [src]="poke.image" [alt]="poke.name"/>
            </div>
            {{poke.name}}

          </div>
    </div>

</div>
