
.main-container {
    display:grid;
    grid-template-rows: 25% 55% 20%;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
    background-color: #1D1E1D;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-body {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #B23327;
    border-style: solid;
    border-color:#F2C305;
    
}

#pika{
    margin-left:10rem;
}

#charizard{
    margin-right:10rem;
}

.footer {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

.input-box {
    /* font-size: 8px; */
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    border-radius: 2px;
    padding: 8px;
    width: 250px;
    height: 28px;
    line-height: 16px;
    margin: auto;
    margin-top: 3rem;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
  }

  .input-box:focus {
      outline: none;
  }

.input-box::placeholder {
    color:rgb(66, 65, 65);
}