

<div class = "main-container">

    <div class="header">
        <img src="./../../../../assets/svg/logo.svg" alt="asdad">
    </div>

    <div class="main-body">
        <img id="charizard" width="300px" src="./../../../../assets/svg/charizard.svg" alt="asdad">
        <!-- <img width="200px" src="./../../../../assets/svg/pokeball.svg" alt="asdad"> -->
        <img id="pika" width="300px" src="./../../../../assets/svg/pika.svg" alt="asdad">
    </div>

    <div class="footer">
        <input #box type="text" 
            [(ngModel)]="trainerName"
            class="input-box"
            name="trainerName" 
            placeholder="Enter your name"
            (keyup.enter)="onKey(box.value)">    
    </div>
    






</div>